@tailwind base;
@tailwind components;
@tailwind utilities;

.form {
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.548) ;
}


.landing-left {
  width : 40%
}
.landing-right {
  width : 60%;

}
.navbar {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 12px;
  border: 2px solid rgba(128, 128, 128, 0.274);
  height: 50px;
  margin-top: 15px;
  margin-left: 75px;
  color: gray;
  margin-left: 390px;
}
.navbar-logo-section img {
  width: auto;
  height: 40px;
}
.navbar-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.navbar-logo-section {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.navbar-logo-section a {
  font-weight: 500;
  margin-left: 30px;
  font-size: 1rem;
  padding: 8px 8px;
  color: #114fee;
  text-decoration: none;
}

.navbar-auths {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  padding: 12px 12px;
  margin-left: 150px;
}

.btn-1 {
  width: 90px;
  height: 30px;
  color: #114fee;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.274);
  text-align: center;
  align-content: center;
  align-items: center;
  margin-left: 70px;
  transition: all 0.5s ease;
}
.btn-1:hover{
  color: gray;
  border: 1px solid rgba(128, 128, 128, 0.674);
}

.btn-2 {
  width: 120px;
  height: 30px;
  background-color: #114fee;
  text-align: center;
  align-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.763);
  border-radius: 6px;
  font-size: 0.9rem;
  margin-left: 4px;
}
/* Dashboard.css */
.dashboard {
  padding: 20px;
}

.stats-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  position: relative;
  text-align: center;
}

.card.blue {
  background-color: #e0f2fe;
}

.card.purple {
  background-color: #f3e5f5;
}

.card.yellow {
  background-color: #fff9c4;
}

.card.red {
  background-color: #ffebee;
}

.card .value {
  font-size: 24px;
  font-weight: bold;
}

.card .change {
  color: green;
  margin-top: 5px;
}

.charts {
  display: flex;
  gap: 20px;
}

.chart {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}
.request-file {
  width: 60%;
}
.tracking-table {
  width: 60%;
}

/*USER PAGE*/
.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
  margin-left: 5px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.822);
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
     padding : 20px 20px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
  display: flex;
  flex-direction: row;
  
  
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */


/* Main  */  
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 20px;
  margin: 15px 0;
}
.main-cards-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 15px;
  border-radius: 5px;
  width : 250px;
  padding: 10px 10px;
  margin: 20px 20px;

}
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 15px;
  border-radius: 5px;
  width : 250px;
  height: 130px;
  padding: 10px 10px;
  margin: 20px 20px;

}

.card:first-child {
  background-color: #2962ff;
}
.card2:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}
.card2:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}
.card2:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card2:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}

/*request CSS */
.table-container {
  width: 900px;
  margin: 0 auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.status-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.status-table th,
.status-table td {
  padding: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.status-table th {
  font-weight: bold;
  color: #555;
}



.request-link {
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  text-decoration: underline;
}

.request-link:hover {
  color: #0056b3;
}
.open-dialog-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
}

h2 {
  margin-top: 0;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  color: black;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="file"] {
  padding: 5px;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.message.success {
  margin-top: 10px;
  color: green;
}

.close-dialog-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
/* Basic reset for margins and padding */


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff; /* Primary background color */
  padding: 10px 20px;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-left .icon {
  margin-right: 15px;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right .icon {
  margin-left: 20px;
  cursor: pointer;
  color: white;
  font-size: 1.4rem;
}

.icon:hover {
  color: #e6e6e6; /* Slight color change on hover */
}

.file-request-admin {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color:whitesmoke;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.file-request-table {
  width: 100%;
  border-collapse: collapse;
}

.file-request-table th,
.file-request-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: black;
}

.file-request-table th {
  background-color:#e0f2fe;
  font-weight: bold;
}



.accept-btn, .reject-btn {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.accept-btn {
  background-color: #4CAF50;
  color: white;
}

.reject-btn {
  background-color: #F44336;
  color: white;
}

.accept-btn:hover {
  background-color: #45a049;
}

.reject-btn:hover {
  background-color: #d32f2f;
}
